[submodule "yajl"]
	path = yajl
	url = git://github.com/lloyd/yajl
[submodule "ccan"]
	path = ccan
	url = https://github.com/jmesmon/ccan.git
[submodule "penny"]
	path = penny
	url = https://github.com/jmesmon/libpenny.git
[submodule "rbtree"]
	path = rbtree
	url = https://github.com/jmesmon/rbtree.git
[submodule "tbl"]
	path = tbl
	url = https://github.com/femtoo/tbl.git
